p {
  font-size: 20px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

img {
  width: auto;
  height: 25%;
}

.hero-setup {
  border: 1.5px solid yellowgreen;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
